.container h1 {
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  margin: 0 auto;
}

.sign_up,
.log_in {
  /* Using !important because of FOUC */
  font-weight: bolder !important;
  margin-top: 10px !important;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
}

.sign_up {
  background: var(--foreground);
  color: var(--background);
  border: none;
}

.log_in {
  background: var(--background);
  color: var(--foreground);
}

.profile {
  border-radius: 50%;
}

.info {
  margin: 0 4rem;
}

.info h4, .info h2 {
  font-size: xx-large;
  margin-bottom: 14px;
}

.column {
  display: flex;
  flex-basis: 50%;
  padding: 20px 0;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

@media only screen and (min-width: 900px) {
  .sign_up,
  .log_in {
    width: 90%;
  }
}
